## M36 HUB V1.1（with TMC2209）
## For more info 
## https://github.com/FYSETC/M36_HUB_V1
## https://wiki.fysetc.com/M36_HUB_V1/

# This file contains common pin mappings for the Fysetc M36 HUB V1.1
# To use this config, the firmware should be compiled for the
# STM32F072 with "No bootloader" ,"Internal clock" and Communication interface USB

# How to get in DFU mode:
# 1. hold BT0 button for 2 seconds
# 2. Hold RST button for 2 seconds
# 3. Release the BT0 button
# 4. wait 2seconds
# 5. Release the RST button
# "lsusb" check if get in DFU mode

# After running "make", run the following command to flash the board:
# "dfu-util -R -a 0 -s 0x08000000:leave -D out/klipper.bin" to upload
# or "make flash FLASH_DEVICE=0483:df11" compile and upload at once.


## *** THINGS TO CHANGE/CHECK: ***
## MCU path                                                                     [mcu] section
## Z and Extruder motor currents                                                [tmc2208 stepper_*] sections. Uncomment the stepper motor you have
## Full steps per rotation for Extruder                                         [extruder] section
## Thermistor types                                                             [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Extruder motor currents                                                      [extruder] section
## PID tune                                                                     [extruder] and [heater_bed] sections
## Fine tune E steps                                                            [extruder] section

## For more info                                                                check https://docs.vorondesign.com/build/startup/#v0
## See docs/Config_Reference.md for a description of parameters.

[mcu head]
serial: /dev/serial/by-path/platform-fd8c0000.usb-usb-0:1:1.0
#serial: /dev/serial/by-id/usb-Klipper_stm32f072xb_2E0016000257464732383620-if00 
#restart_method: command


#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: head:PB15
dir_pin: !head:PB14	                # Add ! if moving opposite direction
enable_pin: !head:PB1
full_steps_per_rotation: 200    # Set to 200 for 1.8 degree motor, set to 400 for 0.9 degree stepper motor
rotation_distance: 22.035        # See calibrating rotation_distance on extruders doc
gear_ratio: 50:10               # For Mini Afterburner
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: head:PA0
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type: Generic 3950
sensor_pin: head:PA1
min_temp: 0
max_temp: 320
min_extrude_temp: 180
max_extrude_only_distance: 2000
max_extrude_cross_section: 9999
max_extrude_only_velocity: 120
max_extrude_only_accel: 10000
pressure_advance: 0.045
pressure_advance_smooth_time: 0.04
control: pid            # Do PID calibration
pid_kp = 40.657
pid_ki = 15.061
pid_kd = 27.437

[tmc2209 extruder]
uart_pin: head:PA9
interpolate: False
run_current: 0.6
#diag_pin: head:PA8   
sense_resistor: 0.220
stealthchop_threshold: 9999                                            # Set to 0 for spreadcycle, avoid using stealthchop on extruder


#####################################################################
# Fan Control
#####################################################################
#FAN0_EN:PB11
#FAN0_PWM:PB10
#FAN0_TACH:PB12

#FAN1_EN:PB4
#FAN1_PWM:PA15
#FAN1_TACH:PB3

#FAN2_EN:PB9
#FAN2_PWM:PB8
#FAN2_TACH:PA10

[heater_fan hotend_fan]
pin:head:PB4
max_power:1.0
shutdown_speed:0.0
cycle_time:0.5
hardware_pwm:false
kick_start_time:0.10
off_below:0.1
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[multi_pin part_cooling]
pins: head:PB9,head:PB11

[fan]
# Print Cooling Fan: FAN0 Connector
pin: multi_pin:part_cooling
max_power: 1.0
kick_start_time: 0.5                                                 # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.010

#####################################################################
# Temperature Sensor
#####################################################################

#[temperature_sensor head_mcu_temp]
#sensor_type: temperature_mcu
#sensor_mcu: head
#min_temp: 0
#max_temp: 105

[temperature_sensor T_on_M36]
sensor_type: Generic 3950
sensor_pin: head:PA2
min_temp: 0
max_temp: 150

#[thermistor th_m36]
#temperature1:	0
#resistance1:	332.15
#temperature2:	25
#resistance2:	100
#temperature3:	50
#resistance3:	35.82

#####################################################################
# Neopixel
#####################################################################

#[neopixel left_rgb]     
#pin: head:PB13
#chain_count: 1
#color_order: GRB
#initial_RED: 0.1
#initial_GREEN: 0.1
#initial_BLUE: 0.1

#[neopixel right_rgb]
#pin: head:PB0
#chain_count: 1
#color_order: GRB
#initial_RED: 0.1
#initial_GREEN: 0.1
#initial_BLUE: 0.1

#   Three resistance measurements (in Ohms) at the given temperatures
#   (in Celsius). The three measurements will be used to calculate the
#   Steinhart-Hart coefficients for the thermistor. These parameters
#   must be provided when using Steinhart-Hart to define the
#   thermistor.
#beta:3950
#   Alternatively, one may define temperature1, resistance1, and beta
#   to define the thermistor parameters. This parameter must be
#   provided when using "beta" to define the thermistor.